
<h3>Dein geprüfter Stimmzettel</h3>

<p>
<b><u>WICHTIG</u></b>: Dieser Stimmzettel, da er nun geprüft wurde, <em>wird nicht gezählt</em>.<br />
Um einen Stimmzettel abzugeben, musst du unten auf die Schaltfläche "Zurück zum Wählen" klicken, ihn erneut verschlüsseln und "abgeben" statt "prüfen" wählen.
</p>

<p>
<b>Warum?</b> Helios verhindert, dass du denselben Stimmzettel prüfst und abgibst, um dir einen gewissen Schutz gegen Nötigung zu bieten.
</p>

<p>
<b>Was nun?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Wähle deine Stimmzettel-Prüfinformationen aus</a>, kopieren sie in deine Zwischenablage, und verwende dann den <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">Stimmzettel-Verifizierer</a>, um ihn zu überprüfen.<br />
Wenn du zufrieden bist, klicke auf die Schaltfläche "Zurück zum Wählen", um deinen Stimmzettel erneut zu verschlüsseln und abzugeben.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Bevor du zum Wählen zurückgehst,<br />
kannst du diesen geprüften Stimmzettel im Helios-Tracking-Center veröffentlichen, damit andere die Überprüfung dieses Stimmzettels überprüfen können.
<br /><br />
<b>Selbst wenn du deinen geprüften Stimmzettel veröffentlichst, musst du zum Wählen zurückgehen und "abgeben" wählen, wenn du möchtest, dass deine Stimme gezählt wird.</b>
<br /><br />
<button onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot(); return false;" class="pretty">zurück zum Wählen</button>
&nbsp; &nbsp;&nbsp;
<button onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot(); return false;" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;">geprüften Stimmzettel im Tracking-Center veröffentlichen</button>

</form>




