
<div id="questions_div">
<p>
    Um zu wählen, befolge diese Schritte:
<p>

<ol>
    <li> <b>Wähle</b> deine bevorzugten Optionen.</li>
<br />

    <li> <b>Überprüfe</b> deine Auswahl, die dann verschlüsselt wird.</li>
<br />

    <li> <b>Sende</b> deinen verschlüsselten Stimmzettel ab und authentifiziere dich, um deine Wahlberechtigung zu überprüfen.</li>

</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Starten</button></div>
</div>

<p>
  Du kannst per <a target="_new" href="mailto:{$T.election_metadata.help_email}?subject=help%20with%20election%20{$T.election.name}&body=I%20need%20help%20with%20election%20{$T.election.uuid}">E-Mail um Hilfe</a> bitten.
</p>

