SERVICENAME=wahl
DOMAINNAME=docker.localhost
DATA_DIR=./docker/volumes

POSTGRES_PASSWORD=secret
RABBITMQ_PASSWORD=secret

# Langer zufälliger String – generieren mit:
#   python3 -c "import secrets; print(secrets.token_hex(50))"
SECRET_KEY=secret
EMAIL_OPTOUT_SECRET=secret

EMAIL_HOST=
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
# Absenderadresse für ausgehende Mails
ADMIN_EMAIL=

LDAP_BIND_PASSWORD=admin
