{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}

<div class="row"><div class="large-5 columns large-centered"><a href="/"><img border="0" src="{{ settings.MAIN_LOGO_URL }}" /></a></div></div>
<div class="row">&nbsp;</div>
<div class="large-9 columns">
  <p style="font-size: 1.4em;">
    {{settings.WELCOME_MESSAGE|safe}}
  </p>

  {% if elections|length %}
  <p>
    {% for election in elections %}
    <div class="panel">
      <a style="font-size: 1.4em;" href="{% url "shortcut@election" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> by {{election.admin.display_html_small|safe}}{% endif %}
    </div>
    <br />
    {% endfor %}
  </p>
  {% else %}
  <h4>keine empfohlenen Wahlen im Moment</h4>
  {% endif %}

</div>

<div class="large-3 columns" id="mystuff">
<div class="row">&nbsp;</div>
<div class="panel row">
{% if user %}
<!--<div class="row right">{{user.display_html_big|safe}}</div>-->
{% if create_p %}
<a class="small button" href="{% url "elections@new" %}">Wahl erstellen</a>
<h5 class="subheader">Verwaltung</h5>
{% if elections_administered %}
<ul>
{% for election in elections_administered %}
<li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>noch keine</em>
{% endif %}
<div class="row right">
<a class="tiny button" href="{% url "elections@administered" %}">alle anzeigen</a>
</div>
<div class="row"></div>
{% endif %}

<h5 class="subheader">Letzte Stimmen</h5>
{% if elections_voted %}
<ul>
{% for election in elections_voted %}
<li><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>noch keine</em>
{% endif %}
<div class="row right"><a class="tiny button" href="{% url "elections@voted" %}">alle anzeigen</a></div>
<div class="row"></div>
{% else %}
{% if settings.SHOW_LOGIN_OPTIONS %}
<h5>Anmelden um abzustimmen</h5>
{{login_box|safe}}
{% else %}
<p>
Wähle eine Wahl aus, um mit dem Abstimmen zu beginnen. Nach Ausfüllung eines Stimmzettels werden Sie nach Ihren Wahlberechtigungsnachweisen gefragt.
</p>
{% endif %}
{% endif %}
</div>
</div>


{% endblock %}
