<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

<div style="border: 1px solid #888; padding: 10px; max-width: 500px;">
{{password_login_form.as_p}}
{% if bad_voter_login %}
<p style="color: red;">
falsche Wähler-ID oder Passwort, bitte versuche es erneut.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<input type="submit" class="button" value="authentifizieren &amp; Stimmzettel abgeben" />
<p class="small">
 Deine Wähler-ID und dein Passwort findest du in der E-Mail, die du erhalten hast.
  <a href="{% url "election@password-voter-resend" election.uuid %}" target="_blank">Passwort vergessen? Klicke hier, um es erneut zu senden.</a>
  {% if election.help_email %}Wenn du deine Anmeldedaten immer noch nicht finden kannst, wende dich an deinen Wahladministrator unter <tt>{{election.help_email}}</tt>.{% endif %}
</p>
<p class="small">
  Gib so viele Stimmzettel ab, wie du möchtest: Nur der letzte zählt.
</p>
{% else %}
<input type="submit" class="button" value="anmelden" />
{% endif %}
</form>
</div>


