{% extends TEMPLATE_BASE %}
{% block title %}Stimme bestätigen{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; Stimme erfolgreich abgegeben!</h1>

{% if vote_hash %}
<p>
  Dein Stimmzettel-Tracker ist:<br />
    <span style="font-size:1.4em; font-weight: bold; word-break: break-word;">  {{vote_hash}}</span>
</p>
<p>
  Dieser Stimmzettel-Tracker garantiert mathematisch, dass dein Stimmzettel gezählt wird. Du kannst alle Stimmzettel-Tracker anzeigen, indem du die <a href="{% url "election@voters@list-pretty" election.uuid %}">Wählerliste</a> aufrufst, wo dein Stimmzettel-Tracker innerhalb weniger Minuten erscheinen sollte.
</p>
{% endif %}

{% if logout %}
<p><b>Zu deiner Sicherheit wurdest du abgemeldet.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
[ <a href="{% url "election@view" election.uuid %}">zurück zu Wahlinformationen</a> ]
</p>

{% endblock %}
