{% extends TEMPLATE_BASE %}

{% block title %}Auswertung berechnen &mdash; {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Auswertung berechnen <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">abbrechen</a>]</span></h2>

  <p>
    Du bist dabei, die Auswertung für diese Wahl zu berechnen. Danach wirst du die Ergebnisse sehen.
  </p>

  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="submit" class="button" value="Auswertung berechnen!" />
  </form>

{% endblock %}
