{% extends TEMPLATE_BASE %}
{% load timezone_tags %}
{% block title %}{{election.name}}{% endblock %}
{% block content %}
<div style="float: left; margin-right: 50px;">
  <h3 class="title">{{ election.name }}
{% if admin_p %}
{% if not election.frozen_at %}
<small><a class="small button" href="{% url "election@edit" election.uuid %}">bearbeiten</a></small>
{% endif %}
{% endif %}</h3>
<p style="padding-top:0px; margin-top:0px">
<em>{% if election.private_p %}privat{%else%}öffentlich{% endif %}</em> {{ election.election_type }}{% if settings.SHOW_USER_INFO %} erstellt von <u><b>{{election.admin.display_html_small|safe}}</b></u>{% endif %}
{% if election.is_archived %}
[archiviert]
{% endif %}
{% if admin_p %}
&nbsp;{% if election.is_archived %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=0">wiederherstellen</a>{% else %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=1">archivieren</a>{% endif %}
{% if election.is_archived %}
<form method="post" action="{% url "election@delete" election_uuid=election.uuid %}" style="display:inline;" onsubmit="return confirm('Sind Sie sicher, dass Sie diese Wahl löschen möchten? Nach dem Löschen können nur Website-Administratoren sie wiederherstellen.');">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="delete_p" value="1" />
<button type="submit" class="small button">löschen</button>
</form>
{% endif %}
<a class="small button" onclick="return window.confirm('Bist du sicher, dass du diese Wahl kopieren möchtest?');" href="{% url "election@copy" election_uuid=election.uuid %}">kopieren</a>
{% endif %}
<br />
{% if admin_p %}
{% if not election.private_p %}
{% if election.featured_p %}
Diese {{election.election_type}} wird auf der Startseite angezeigt.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=0">nicht anzeigen</a>]
{% endif %}
{% else %}
Diese {{election.election_type}} wird <u>nicht</u> auf der Startseite angezeigt.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=1">anzeigen</a>]
{% endif %}
{% endif %}
{% endif %}
{% endif %}
</p>

</div>


<br />

<br clear="left" />

<div style="margin-bottom: 25px; line-height: 1.3;">
{{election.description_bleached|safe}}
</div>

<p>
{% if election.help_email and admin_p%}Hilfe E-Mail-Adresse: {{election.help_email}}<br />{% endif %}
{% if election.voting_start_at %}Abstimmung beginnt am {{election.voting_start_at|utc_time}}<br />{% endif %}
{% if election.voting_end_at %}Abstimmung endet am {{election.voting_end_at|utc_time}}<br />{% endif %}
</p>

{% if election.election_info_url %}
<p style="font-size:1.5em;">[<a target="_blank" href="{{election.election_info_url}}" rel="noopener noreferrer">Kandidaten-Biografien &amp; Statements herunterladen</a>]</p>
{% endif %}

<p align="center" style="font-size: 1.5em;">
<a href="{% url "election@questions" election.uuid %}">Fragen ({% if election.questions %}{{election.questions|length}}{% else %}0{% endif %})</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@voters@list-pretty" election.uuid %}">Wähler &amp; Stimmzettel</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@trustees@view" election.uuid %}">Treuhänder ({{trustees|length}})</a>
{% if admin_p %}
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@admins" election.uuid %}">Administratoren</a>
{% endif %}
</p>

{% if admin_p %}
{% if election.frozen_p %}
<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
<a href="#" onclick="$('#badgebody').slideToggle(250);">Wahl-Badge einbetten</a>
<div id="badgebody" style="display:none;">
<br />
<form action="#">
<textarea cols="90" rows="4" wrap="soft">&lt;iframe src="{{election_badge_url}}" frameborder="0" style="border: 1px solid black" height="75" width="200"&gt;
&lt;/iframe&gt;</textarea><br />
<p style="font-size:0.8em;">Durch Hinzufügen dieses HTML zu Ihrer Website wird ein dünnes Banner mit direkten Abstimmungslinks angezeigt.</p>
</form>
</div>
</div>
{% endif %}
<p>

{% if election.result_released_at %}

<!-- election complete, no next step -->

{% else %}
<b>Nächster Schritt:</b>
<span style="font-size: 1.3em;">
{% if not election.frozen_at %}
{% if election.issues_before_freeze %}
{% for issue in election.issues_before_freeze %}
{{issue.action}}{% if forloop.last %}{% else %}, and{% endif %}<br />
{% endfor %}
{% else %}
<a href="{% url "election@freeze" election.uuid %}">Stimmzettel einfrieren und Wahl eröffnen.</a>
<br />
{% if election.voting_starts_at %}
Sobald du dies tust, ist die Wahl abstimmungsbereit und wird automatisch<br />
um {{election.voting_starts_at|utc_time}} eröffnet, gemäß deinen Einstellungen.
{% else %}
Sobald du dies tust, ist die Wahl sofort zur Abstimmung geöffnet.
{% endif %}
{% endif %}

{% else %}

{% if not election.encrypted_tally %}
{% if election.tallying_started_at %}
Die Berechnung der Auszählung läuft.<br />
Lade diese Seite in ein paar Minuten neu.
{% else %}
<a href="{% url "election@compute-tally" election.uuid %}">verschlüsselte Auszählung berechnen</a><br />
Die verschlüsselten Stimmen werden zu einer verschlüsselten Auszählung kombiniert. Sobald dies geschehen ist,<br />
werden die Treuhänder gebeten, ihren Anteil an der Entschlüsselung bereitzustellen.
{% endif %}
{% else %}

{% if election.result %}
<a href="{% url "election@release-result" election.uuid %}">Ergebnis veröffentlichen</a><br />
Das unten angezeigte Ergebnis ist nur für dich sichtbar.<br />
Sobald du das Ergebnis veröffentlichen, ist es für alle sichtbar.
{% else %}

{% if election.ready_for_decryption_combination %}
<a href="{% url "election@combine-decryptions" election.uuid %}">
{% if election.num_trustees == 1 %}
Ergebnisse berechnen
{% else %}
Treuhänder-Entschlüsselungen kombinieren und Ergebnisse berechnen
{% endif %}
</a><br />
{% if election.num_trustees == 1 %}
Das Ergebnis wird berechnet und nur für dich, den Administrator, angezeigt.
{% else %}
Die Entschlüsselungsanteile der Treuhänder werden kombiniert und die Auszählung berechnet.<br />
Sobald du dies tust, ist die Auszählung nur für dich, den Administrator, sichtbar.
{% endif %}
{% else %}
<a href="{% url "election@trustees@view" election.uuid %}">Treuhänder (für Entschlüsselung)</a>
{% endif %}

{% endif %}

{% endif %}

{% endif %}
</span>

{% endif %}

</p>

{% endif %}

<br />

{% if show_result %}
{% if election.result_released_at %}
<span class="highlight-box round">
    Diese Wahl ist abgeschlossen.
</span><br /><br /><br />
{% endif %}

<h3 class="highlight-box">Auswertung</h3>
{% for question in election.pretty_result %}
<b><span style="font-size:0.8em;">Frage Nr. {{forloop.counter}}</span><br />{{question.question}}</b><br />
<table class="pretty" style="width: auto;">
{% for answer in question.answers %}
<tr><td style="padding-right:80px;{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.answer}}</td><td align="right" style="{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.count}}</td></tr>
{% endfor %}
</table>
{% endfor %}

{% else %}

{% if election.voting_has_stopped %}
<span class="highlight-box round">
    Wahl beendet. Ergebnisse werden bald veröffentlicht.
</span><br /><br />
{% else %}

{% if election.voting_has_started %}
<a class="button" href="{{test_cookie_url}}">Zur Wahlkabine gehen</a>
<br />
<br />
{% if election.voting_extended_until %}
Diese {{election.election_type}} war ursprünglich geplant, um um {{election.voting_ends_at|utc_time}} zu enden,<br />
wurde aber bis {{election.voting_extended_until|utc_time}} verlängert.
{% else %}
{% if election.voting_ends_at %}
<br />
Diese {{election.election_type}} ist geplant, um um {{election.voting_ends_at|utc_time}} zu enden.
{% else %}
Diese {{election.election_type}} endet nach Ermessen des Administrators.
{% endif %}
<br />
{% endif %}

{% if election.private_p and voter %}
<br />
Diese Wahl ist <em>privat</em>. Du bist Wahlberechtige*r <em>{{voter.name}}</em> angemeldet.
{% endif %}

<div class="highlight-box round" style="font-size: 1.2em; margin-right: 400px; display:none;" id="nojava_message">
Sie haben Java nicht in Ihrem Browser installiert.<br />Derzeit erfordert Helios Java.<br />
Besuchen Sie <a target="_new" href="http://java.sun.com">java.sun.com</a> um es zu installieren.
</div>
<br />
{% else %}
<span class="highlight-box round">
  Abstimmung noch nicht eröffnet
</span> <br /><br />
{% endif %}

{% if user %}
{% if voter %}
<p style="padding-top:1px;">
  Du bist für diese {{election.election_type}} zur Abstimmung registriert.
{% if election.use_voter_aliases %}
Dein Wähler-Alias ist {{voter.alias}}.
{% endif %}
</p>

{% else %}
{% if election.result %}
{% else %}
{% if election.openreg %}
{% if eligible_p %}
Du bist berechtigt abzustimmen.
{% else %}
Du bist <em>nicht berechtigt</em> abzustimmen.
{% endif %}
{% else %}
Du bist <em>nicht berechtigt</em> abzustimmen.
<br />
{% endif %}
{% endif %}
{% endif %}
{% else %}

{% if election.openreg %}
{% if election.eligibility %}
Diese Wahl steht offen für: {{election.pretty_eligibility|safe}}
<a href="{{settings.SECURE_URL_HOST}}{% url "auth@index" %}?return_url={{CURRENT_URL}}">Anmelden</a> um deine Berechtigung zu überprüfen.
{% else %}
Jeder kann bei dieser Wahl abstimmen.
{% endif %}
{% endif %}

{% endif %}

{% endif %}

{% endif %}

{% if admin_p and election.voting_ends_at and not election.tallying_started_at %}
<br /><a href="{% url "election@extend" election.uuid %}">Abstimmung verlängern</a><br />
{% endif %}

<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa;" class="round">
<a href="#" onclick="$('#auditbody').slideToggle(250);">Prüfinformationen</a>
<div id="auditbody" style="display:none; word-wrap: break-word;">
<br />Wahl-URL:<br />
<a href="{{election.url}}">{{election.url}}</a>

{% if election.frozen_at %}
<br />
<br />Wahl-Fingerabdruck:<br />
<tt style="font-size: 1.3em; font-weight: bold;">{{election.hash}}</tt>


{% if votes %}
<p>Dein Stimmzettel-Tracker:<br />
<tt style="font-size:14pt; font-weight: bold;">{{votes.0.vote_hash}}</tt>
</p>
{% endif %}

<p style="font-size: 1.3em;">
<a href="{% url "election@voters@list-pretty" election.uuid %}">Stimmzettel-Verfolgungszentrum</a> &nbsp;| &nbsp;
<a href="{% url "election@audited-ballots" election.uuid %}">Geprüfte Stimmzettel</a>
{% if admin_p %}&nbsp;| &nbsp;
<a href="{% url "election@log@download-csv" election.uuid %}">Wahlprotokoll herunterladen (CSV)</a>
{% endif %}
</p>

{% endif %}

{% if not election.voting_has_started %}
<p style="font-size: 1.2em;">
  <br>
  <a href="{{SECURE_URL_HOST}}/booth/vote.html?election_url={% url "election@home" election.uuid %}">Vorschau der Wahlkabine</a>
</p>
{% endif %}

{% if election.voting_has_stopped %}
<p style="font-size: 1.2em;">
{% if election.result %}
verifiziere die <a target="_blank" href="/verifier/verify.html?election_url={% url "election@home" election.uuid %}">Wahlauszählung</a>.
{% endif %}

überprüfe die <a href="{{vote_url}}">Wahlkabine</a>.
</p>

{% endif %}

</div>
</div>




{% endblock %}
