{% extends TEMPLATE_BASE %}

{% block title %}Geprüfte Stimmzettel für {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Geprüfte Stimmzettel <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">zurück zur Wahl</a>]</span></h2>

<p>
Wenn du einen Stimmzettel mit Helios vorbereitest, erhältst du sofort einen Stimmzettel-Tracker. Bevor du diesen Stimmzettel abgibst, hast du die Möglichkeit, Helios zu bitten, diesen verschlüsselten Stimmzettel zu "öffnen" und zu überprüfen, ob Helios deinen Stimmzettel korrekt verschlüsselt hat. Danach kannst du diesen geöffneten Stimmzettel hier in der Liste der geprüften Stimmzettel veröffentlichen, damit jeder ihn überprüfen kann (deine Identität wird nicht einbezogen). Danach musst du deine neu verschlüsseln und einen anderen Stimmzettel-Tracker erhalten. Dies soll es erschweren, dass jemand dich zu einer bestimmten Wahl zwingen könnte.
</p>

<p>
Diese Stimmzettel werden <em>nicht</em> gezählt. Sie dienen nur Prüfzwecken, um stichprobenartig zu überprüfen, ob Helios die Wählerstimmen korrekt verschlüsselt.
</p>

<p>
Um einen geprüften Stimmzettel zu verifizieren, kopiere seinen gesamten Inhalt und füge ihn in den <a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "election@home" election.uuid %}">Einzel-Stimmzettel-Verifizierer</a> ein.
</p>

{% if audited_ballots %}
<p>
Geprüfte Stimmzettel {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">nächste {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% if offset == 0 %}
{% else %}
<a href="?">zurück zum Anfang</a> &nbsp;&nbsp;
{% endif %}
{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">nächste {{limit}}</a>
{% endif %}
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">ansehen</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>Noch keine geprüften Stimmzettel</em>
{% endif %}

{% endblock %}
