{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{ election.name }} – Registrieren</h2>

{% if user %}
<p>
    Du bist derzeit angemeldet als {{user.user_id}} [{{user.user_type}}]
</p>
{% if voter %}
<p>
    Du bist derzeit für diese Wahl registriert.
</p>
{% else %}
<p>
    Du bist <em>nicht</em> für diese Wahl registriert.
</p>

<form method="post" action="{% url "election@register" election.uuid %}">
<input class="button" type="submit" value="registrieren!" />
</form>
{% endif %}

{% else %}
{% endif %}

{% endblock %}