{% extends TEMPLATE_BASE %}
{% load timezone_tags %}

{% block content %}

  <h2 class="title">Wahl {{election.name}} noch nicht eröffnet</h2>

  <p>
      Diese Wahl ist noch nicht eröffnet.
  </p>
  
  <p>
      {% if election.voting_start_at %}Abstimmung beginnt am {{election.voting_start_at|utc_time}}<br />{% endif %}
      {% if election.voting_end_at %}Abstimmung endet am {{election.voting_end_at|utc_time}}<br />{% endif %}
  </p>
  
  <p>
      <a href="{% url "election@view" election.uuid %}">zurück zur Wahl</a>
  </p>
{% endblock %}
