{% extends TEMPLATE_BASE %}
{% load timezone_tags %}

{% block content %}

  <h2 class="title">Wahl {{election.name}} bereits ausgezählt</h2>

  <p>
      Diese Wahl wurde bereits ausgezählt, du kannst keine Stimme mehr abgeben.
  </p>

  <p>
      {% if election.voting_start_at %}Abstimmung beginnt am {{election.voting_start_at|utc_time}}<br />{% endif %}
      {% if election.voting_end_at %}Abstimmung endet am {{election.voting_end_at|utc_time}}<br />{% endif %}
  </p>

  <p>
      <a href="{% url "election@view" election.uuid %}">die Wahlauszählung anzeigen</a>
  </p>
{% endblock %}