{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Stimmzettel einfrieren</h2>
<p>
Sobald eine Wahl eingefroren ist, können die Fragen, Optionen und Treuhänder nicht mehr geändert werden.<br />
</p>

<p>
{% if election.openreg %}
Die Registrierung für Ihre Wahl ist derzeit <b>offen</b>, was bedeutet, dass jeder abstimmen kann, auch nachdem du den Stimmzettel einfrierst.
{% else %}
Die Registrierung für deine Wahl ist derzeit <b>geschlossen</b>, was bedeutet, dass nur die von dir festgelegten Wahlberechtigten einen Stimmzettel abgeben können. Als Administrator kannst du diese Wählerliste während des Wahlverlaufs noch ändern.
{% endif %}
</p>

{% if helios.VOTERS_EMAIL %}
<p>
Du musst den Stimmzettel einfrieren, bevor du Wähler kontaktieren kannst.
</p>
{% endif %}

{% if issues_p %}
<p>
    Bevor du die Wahl einfrieren kannst, musst du:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">zurück zur Wahl</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />

<input class="button" type="submit" value="Stimmzettel einfrieren" />
<button class="button" onclick="document.location='{% url "election@view" election.uuid %}'; return false;">NOCH NICHT einfrieren</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
