{% extends TEMPLATE_BASE %}
{% block title %}Stimme bestätigen{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }

  var message = "Du hast noch nicht abgestimmt! Stelle sicher, dass du den Abstimmungsprozess abschließt, wenn deine Stimme gezählt werden soll.";

  if (evt) {
    evt.returnValue = message;
  }

  return message;
};

</script>
<h1>Noch nicht gehen!<br />Dein Stimmzettel wurde noch nicht abgegeben.</h1>

<div id="waiting_div">
    Dein Stimmzettel wird verifiziert und abgegeben<br />
    <img src="/static/helios/loading.gif" />
</div>

<div style="word-wrap: break-word; width: 90vw;">
Dein Stimmzettel-Tracker ist:<br>
<b>{{vote_fingerprint}}</b>
<br><br>
</div>

<div id="all_forms">

{% if voter %}

{% include "_castconfirm_docast.html" %}

{% else %}

{% if show_password %}
{% with cast_ballot="1" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% else %}

{% if user %}
<h1>Entschuldigung!<h1>
<b>Entschuldigung, du bist <em>
  {% if election.openreg %}
    <u>nicht berechtigt</u></em> an dieser Wahl teilzunehmen.
  {% else %}
    nicht registriert</em> für diese Wahl, und die Registrierung ist geschlossen.
  {% endif %}
  </b><br /></p>
<p>
    [<a href="{% url "election@view" election.uuid %}">zurück zur Hauptseite der Wahl</a>]
</p>
{% else %}
<p>
{% if election.openreg %}

  {% if election.eligibility %}
  {% else %}
   Diese Wahl steht <em>jedem</em> offen, melde dich also mit deinem bevorzugten Konto an.
  {% endif %}

{% else %}
  Diese Wahl steht nur <em>registrierten Wahlberechtigten</em> offen, melde dich also mit
  demselben Konto an, mit dem du dich registriert hast.
{% endif %}
</p>

{{login_box|safe}}

<br />
Keine Sorge, wir merken uns deinen Stimmzettel während du dich anmeldest.
{% endif %}

{% endif %}
</p>
{# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
