{% extends "helios/templates/cryptobase.html" %}
{% block content %}
<script language="javascript">

var PUBLIC_KEY, PROOF;

function clear_keys() {
    $('#sk_download').hide();
    $('#pk_form').hide();
    $('#buttons').show();
    $('#clear_button').hide();
    $('#reuse').hide();
}

function show_key_reuse() {
    $('#generator').hide();
    $('#reuse').show();
}

SECRET_KEY = null;

function reuse_key(secret_key_text) {
    SECRET_KEY = ElGamal.SecretKey.fromJSONObject(jQuery.secureEvalJSON(secret_key_text));

    $('#reuse').hide();
    setup_public_key_and_proof();
    show_pk();
}

// start collecting some local randomness
sjcl.random.startCollectors();

$(document).ready(function() {
    clear_keys();
    $('#generator').hide();

    // get some more server-side randomness for keygen
    $.getJSON('{% url "election@get-randomness" election.uuid %}', function(result) {
       sjcl.random.addEntropy(result.randomness);
       BigInt.setup(function() {
          ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
          $('#waiting_message').hide();
          $('#generator').show();
       });
    });
});


function generate_keypair() {
    $('#buttons').hide();

    try {
        SECRET_KEY = ELGAMAL_PARAMS.generate();
    } catch (e) {
        alert(e);
    }

    setup_public_key_and_proof();
}

function setup_public_key_and_proof() {
    // generate PoK of secret key
    PROOF = SECRET_KEY.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
    PUBLIC_KEY = SECRET_KEY.pk;

    var pk_val = jQuery.toJSON({'pok': PROOF, 'public_key': PUBLIC_KEY});
    $('#pk_textarea').val(pk_val);
    $('#pk_hash').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY)));

    $('#clear_button').show();
    show_sk();
}

function show_sk() {
    $('#sk_download').show();
}

function download_sk() {
    $('#pk_content').show();
    $('#sk_content').html(jQuery.toJSON(SECRET_KEY));
}

function download_sk_to_file(filename) {
    var element = document.createElement('a');
    element.setAttribute('href','data:text/plain;charset=utf-8,'+ encodeURIComponent(jQuery.toJSON(SECRET_KEY)));
    element.setAttribute('download', filename);
    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}

function show_pk() {
    $('#sk_download').hide();
    $('#pk_content').hide();
    $('#pk_hash').show();
    $('#pk_form').show();
}

</script>

<h2 class="title">{{election.name}} &mdash; Vertrauensleute {{trustee.name}} &mdash; Schlüsseleinrichtung</h2>

<p>
  Als Vertrauensperson ist es Zeit, deinen Schlüssel für diese Wahl einzurichten.
</p>

<p id="waiting_message">
  Bitte warte, bis der Generator geladen ist...
</p>

<p id="generator">

<span id="buttons"><button class="button" onclick="generate_keypair(); return false;" id="generate_button">Wahlschlüssel generieren</button></span>

<br />
Wenn du bereits ein Schlüsselpaar generiert hast, kannst du es <a href="javascript:show_key_reuse()">wiederverwenden</a>.
</p>

<div id="reuse">
<h3>Schlüssel wiederverwenden</h3>

<p>
Gib unten deinen vollständigen geheimen Schlüssel ein:
</p>
<form onsubmit="reuse_key(this.secret_key.value); return false;">
<textarea cols="80" rows="5" wrap="soft" name="secret_key">
</textarea>
<br />
<input class="button" type="submit" value="wiederverwenden" />
</form>
</div>

<div id="sk_download">
<h3>Dein geheimer Schlüssel</h3>
<span id="clear_button">
Dein Schlüssel wurde generiert, aber du kannst ihn<br /><a href="javascript:clear_keys();">aus dem Speicher löschen und von vorne beginnen</a>, wenn du möchtest.<br />
</span>

<p>
    <button class="button large" onclick="download_sk(); $('#pk_link').show();">Meinen geheimen Schlüssel anzeigen</button>
</p>
</div>

<div style="display:none;" id="pk_content">
    <p>Unten ist der Inhalt deines Vertrauenspersonen-Geheimschlüssels. Bitte kopiere den Inhalt und speichere ihn sicher. <br>
       Du kannst auch auf die Datei klicken, um ihn herunterzuladen.
       Achte darauf, ihn nicht zu verlieren! Ansonsten ist es nicht möglich, die Wahlauszählung zu entschlüsseln.<br>
    </p>
    <textarea id="sk_content" rows="5" wrap="soft" cols="50" style="height: 25em;"></textarea>
</div>

<div style="display:none;" id="pk_link">
<p>
<a id="download_to_file" href="javascript:download_sk_to_file('trustee_key_for_{{election.name}}.txt');">privaten Schlüssel in eine Datei herunterladen</a>
</p>
<p>
  <a href="javascript:show_pk();">ok, ich habe den Schlüssel gespeichert, weiter geht's</a>
</p>
</div>

<form method="post" id="pk_form" action="{% url "election@trustee@upload-pk" election.uuid trustee.uuid %}">
<h3>Dein öffentlicher Schlüssel</h3>
<p>
    Es ist Zeit, den öffentlichen Schlüssel auf den Server hochzuladen.
</p>
<p>
    Der Fingerabdruck deines öffentlichen Schlüssels ist: <tt id="pk_hash" style="font-size: 1.5em; font-weight: bold;"></tt>.<br />
    Du kannst ihn speichern, um später zu bestätigen, dass dein öffentlicher Schlüssel vom Server korrekt gespeichert wurde.<br />
    (Dein öffentlicher Schlüssel wird derzeit nicht angezeigt, da du ihn nicht speichern musst, der Fingerabdruck reicht aus.)
</p>
<textarea id="pk_textarea" name="public_key_json" cols="80" rows="10" style="display:none;">
</textarea>
<input class="button" type="submit" value="Deinen öffentlichen Schlüssel hochladen">
</form>

<div id="applet_div"></div>
<br /><br />
{% endblock %}
