{% extends "helios/templates/cryptobase.html" %}

{% block content %}
<script language="javascript">

var SECRET_KEY;

function before_create() {
{% if election_type == "one" %}
    return confirm('Hast du daran gedacht, den privaten Schlüssel an einem sicheren Ort zu speichern?\n\nSobald du auf OK klickst, kann Helios das Geheimnis nicht ohne deine Hilfe wiederherstellen!');
{% else %}
    return true;
{% endif %}
}

function generate_keypair() {
    ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});

    $('#generate_button').hide();

    try {
        SECRET_KEY = ELGAMAL_PARAMS.generate();
    } catch (e) {
        alert(e);
    }

    $('#pk').val(jQuery.toJSON(SECRET_KEY.pk));

{% if election_type == "one" %}
    $('#sk_textarea').val(jQuery.toJSON(SECRET_KEY));
    $('#sk_form').show();
{% else %}
{% if election_type == "helios" %}
    $('#sk').val(jQuery.toJSON(SECRET_KEY));
{% endif %}
{% endif %}

    $('#submit').show();
}

$(document).ready(function() {
{% if election_type != "multiple" %}
    $('#submit').hide();
{% endif %}
    $('#sk_form').hide();
});
</script>

  <h2 class="title">Neue Wahl erstellen: {{name}}</h2>
{% if election_type == "helios" %}
  <b>Eine von Helios verwaltete Wahl</b>.
{% else %}
{% if election_type == "one" %}
  <b>Eine von Ihnen als einzelnem Administrator verwaltete Wahl</b>.
{% else %}
<b>Eine von mehreren Treuhändern verwaltete Wahl</b>.
{% endif %}
{% endif %}
  <form class="prettyform" action="{% url "helios.views.election_new_3" %}" method="POST" id="create_election_form" onsubmit="return before_create();">
      <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
      <input type="hidden" name="name" value="{{name}}" />
      <input type="hidden" name="public_key" id="pk" value="" />
      <input type="hidden" name="private_key" id="sk" value="" /><br />

{% if election_type != "multiple" %}
  <label for="generate_key">&nbsp;</label><button class="button" onclick="generate_keypair(); return false;" id="generate_button">Wahlschlüssel generieren</button>
{% else %}
<div id="trustees">
<h3>Treuhänder (bis zu 5)</h3>
<label for="">&nbsp;</label> <input type="text" name="trustee" /><br />
<label for="">&nbsp;</label> <input type="text" name="trustee" /><br />
<label for="">&nbsp;</label> <input type="text" name="trustee" /><br />
<label for="">&nbsp;</label> <input type="text" name="trustee" /><br />
<label for="">&nbsp;</label> <input type="text" name="trustee" /><br />
</div>
{% endif %}
<br /><br />
<label for="">&nbsp;</label>  <input class="button" type="submit" value="erstellen" id="submit" />
  </form>
  <br /><br />
{% if election_type == "one" %}
  <form style="padding-left: 200px;" id="sk_form" onsubmit="return false;">
      <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
      Der geheime Schlüssel deiner Wahl:<br />
      <label for="">&nbsp;</label>
      <textarea id="sk_textarea" cols="60" rows="5">
      </textarea><br />
      (Du musst diesen Schlüssel kopieren und sicher aufbewahren,<br />
      sonst kannst du deine Wahl nicht auszählen.)
  </form>
{% endif %}
{% endblock %}