{% extends TEMPLATE_BASE %}

{% block title %}Administrator entfernen - {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Administrator entfernen <span style="font-size:0.7em;">[<a href="{% url "election@admins" election.uuid %}">abbrechen</a>]</span></h3>

<p>
    Bist du sicher, dass du <strong>{{admin_to_remove.display_html_small|safe}}</strong> ({{admin_to_remove.user_id}}) als Administrator dieser Wahl entfernen möchtest?
</p>

<p>
    Er wird diese Wahl nicht mehr verwalten können.
</p>

<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="email" value="{{admin_to_remove.user_id}}" />
<input type="hidden" name="user_type" value="{{admin_to_remove.user_type}}" />

<input class="button" type="submit" value="Administrator entfernen" />
&nbsp;&nbsp;
<a href="{% url "election@admins" election.uuid %}">Abbrechen</a>
</form>

{% endblock %}
