{% extends "helios/templates/cryptobase.html" %}

{% block title %}Treuhänder für {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Treuhänder <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">zurück zur Wahl</a>]</span></h3>

<p>
    Treuhänder sind für die Entschlüsselung des Wahlergebnisses verantwortlich.<br />
    Jeder Treuhänder erzeugt ein Schlüsselpaar und reicht den öffentlichen Teil bei Helios ein.<br />
    Wenn es Zeit ist zu entschlüsseln, muss jeder Treuhänder seinen geheimen Schlüssel bereitstellen.
</p>

{% if not election.frozen_at %}

<p>
  Helios ist automatisch Ihr erster Treuhänder und übernimmt die Schlüsselpaargenerierung und Entschlüsselung automatisch.<br />
  Du kannst zusätzliche Treuhänder hinzufügen, wenn du möchtest, und du kannst sogar den Helios-Treuhänder entfernen.<br />
  Wir empfehlen jedoch, dies nur zu tun, wenn du ein solides Verständnis der Rolle des Treuhänders hast.
</p>

{% if admin_p %}
<p>
    [ <a onclick="return(confirm('Das Hinzufügen deines eigenen Treuhänders erfordert erheblich mehr Aufwand bei der Auszählung der Wahl.\nDu musst Treuhänder haben, die Schlüsselpaare generieren und ihren geheimen Schlüssel sicher aufbewahren.\n\nWenn du nicht sicher bist, was das bedeutet, empfehlen wir dringend,\nauf Abbrechen zu klicken und Helios die Auszählung für dich durchführen zu lassen.'));" href="{% url "election@trustees@new" election.uuid %}">Treuhänder hinzufügen</a> ]
</p>
{% if not election.has_helios_trustee %}
<p>
    <a href="{% url "election@trustees@add-helios" election.uuid %}">Helios als Treuhänder hinzufügen</a>
</p>
{% endif %}
{% endif %}

{% endif %}

{% if not trustees|length %}

{% else %}
{% for t in trustees %}
<h5> Treuhänder Nr.{{forloop.counter}}: {{t.name}}
{% if admin_p %}
{% if t.secret_key %}
{% if not election.frozen_at %}[<a onclick="return confirm('Bist du sicher, dass du Helios als Treuhänder entfernen möchten?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
{% else %}
({{t.email}})
{% if not election.frozen_at %}[<a onclick="return confirm('Bist du sicher, dass du diesen Treuhänder entfernen möchtest?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
[<a onclick="return confirm('Bist du sicher, dass du diesem Treuhänder seine/ihre Admin-URL senden möchtest?');" href="{% url "election@trustee@send-url" election.uuid t.uuid %}">Anmeldung senden</a>]
{% endif %}
{% endif %}
</h5>

<p>
{% if t.public_key_hash %}
  Öffentlicher Schlüssel-Fingerabdruck: <tt style="font-size:1.5em;">{{t.public_key_hash}}</tt>
{% else %}
Noch kein öffentlicher Schlüssel hochgeladen.
{% endif %}
</p>

{% if election.encrypted_tally %}
{% if t.decryption_factors %}
<b>Auszählung für diesen Treuhänder aufgezeichnet.</b>
{% else %}
<em>warten auf die Auszählung dieses Treuhänders</em>
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
