{% extends TEMPLATE_BASE %}

{% block title %}Cookies sind für die Nutzung von Helios erforderlich{% endblock %}

{% block content %}
  <h2 class="title">Cookies sind für Helios erforderlich</h2>

<p>
Es scheint, dass dein Browser keine Cookies unterstützt oder so eingestellt ist, dass Cookies von dieser Seite blockiert werden. Helios muss ein Session-Cookie setzen, damit es deine Stimme speichern, du dich anmelden usw. kannst. Aktiviere Cookies und <a href="{{retest_url}}">fahre dann mit der Vorbereitung deines Stimmzettels fort</a>
</p>
<p>
Wenn du immer wieder auf diese Seite zurückgeleitet wirst, hast du wahrscheinlich die Cookies nicht erfolgreich aktiviert.
</p>
{% endblock %}
