{% extends TEMPLATE_BASE %}

{% block title %}Passwort erneut senden - {{election.name}}{% endblock %}

{% block content %}
<h2>Abstimmungs-Anmeldedaten erneut senden</h2>

<p>
Wahl: <b>{{election.name}}</b>
</p>

{% if error %}
<p style="color: red;">
{{error}}
</p>
{% endif %}

{% if sent %}
<p style="color: green;">
<b>Wenn ein Wähler mit dieser ID in dieser Wahl existiert, wurde eine E-Mail mit Ihren Abstimmungs-Anmeldedaten gesendet.</b>
</p>
<p>
Bitte überprüfe deinen E-Mail-Posteingang (und Spam-Ordner) nach deiner Wähler-ID und Passwort.
</p>
<p>
Du kannst dieses Fenster jetzt schließen und zur Abstimmungsbox zurückkehren.
</p>
{% else %}
<p>
Hast du dein Passwort vergessen? Gib unten deine Wähler-ID ein und wir senden dir deine Abstimmungs-Anmeldedaten per E-Mail.
</p>

<form method="post" action="{% url "election@password-voter-resend" election.uuid %}">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />

<div style="border: 1px solid #888; padding: 10px; max-width: 500px;">
{{resend_form.as_p}}
<input type="submit" class="button" value="Anmeldedaten erneut senden" />
</div>
</form>
{% endif %}

{% endblock %}
