{% extends TEMPLATE_BASE %}
{% block title %}Statistiken{% endblock %}

{% block content %}
<h1>Admin</h1>

<ul>
<li> <a href="{% url "stats@elections" %}">Wahlen</a></li>
<li> <a href="{% url "stats@deleted-elections" %}">gelöschte Wahlen</a></li>
<li> <a href="{% url "stats@user-search" %}">Benutzersuche</a></li>
<li> <a href="{% url "stats@recent-votes" %}">aktuelle Stimmen</a></li>
<li> <a href="{% url "stats@elections-problems" %}">aktuelle Problemwahlen</a></li>
</ul>

<p><b>{{num_votes_in_queue}}</b> Stimmen in der Warteschlange. {% if num_votes_in_queue %}[<a href="{% url "stats@force-queue" %}">erzwingen</a>]{% endif %}</p>

{% endblock %}
