{% extends "helios/templates/cryptobase.html" %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Treuhänder {{trustee.name}} Startseite</span></h2>

<p>
{% if trustee.public_key_hash %}
Du hast deinen öffentlichen Schlüssel erfolgreich hochgeladen.<br />
Dein öffentlicher Schlüssel-Fingerabdruck ist: <b>{{trustee.public_key_hash}}</b>.<br />
Du kannst <a href="{% url "election@trustee@check-sk" election.uuid trustee.uuid %}">überprüfen, ob du den richtigen geheimen Schlüssel hast</a>.
{% else %}
<a href="{% url "election@trustee@key-generator" election.uuid trustee.uuid %}">richte deinen Schlüssel ein</a>
{% endif %}
</p>

<p>
{% if election.encrypted_tally %}
{% if trustee.decryption_factors %}
Du hast deine Entschlüsselung erfolgreich hochgeladen.
{% else %}
    Die verschlüsselte Auszählung für diese Wahl ist bereit.<br />
    <a href="{% url "election@trustee@decrypt-and-prove" election.uuid trustee.uuid %}">mit deinem Schlüssel entschlüsseln</a>
{% endif %}
{% else %}
Sobald die Auszählung berechnet ist, komme hierher zurück, um deinen geheimen Schlüssel zum Entschlüsseln einzugeben.<br />
Du solltest die E-Mail mit deinem Treuhänder-Homepage-Link aufbewahren, die die Anmeldedaten enthält, um hierher zurückzukehren.
{% endif %}
</p>



{% endblock %}
