{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Wähler suchen für '{{search_term}}' <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">zurück zur Wahl</a>]</span></h2>

{% if voter %}
Wähler gefunden: {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if election.frozen_at %}
<a href="{% url "election@voters@email" election.uuid %}?voter_id={{voter.voter_id}}">diesen Wähler per E-Mail kontaktieren</a>
{% else %}
Sobald diese Wahl eingefroren ist, kannst du diesen Wähler per E-Mail kontaktieren.
{% endif %}
{% else %}
<em>kein solcher Wähler gefunden</em>
{% endif %}

{% endblock %}