{% extends TEMPLATE_BASE %}

{% block title %}Wählerberechtigung für {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Wählerberechtigung <span style="font-size:0.7em;">[<a href="{% url "election@voters@list-pretty" election.uuid %}">zurück zu Wählern</a>]</span></h2>

<p>
<em>{{election.pretty_eligibility|safe}}</em>
</p>

<p>
Du kannst die Wählerberechtigung auf eine dieser Kategorien beschränken, wie definiert von {{user.user_type}}:
</p>

<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<select name="category_id">
<option value="" SELECTED>(keine Einschränkung)</option>
{% for category in categories %}
<option value="{{category.id}}"> {{category.name}}</option>
{% endfor %}
</select>
<input class="button" type="submit" value="Berechtigung festlegen" />
</form>
</ul>
{% endblock %}
